footer.footer
	.footer_content
		.container
			.row
				.col-xs-12.col-sm-3.col-md-2
					.footer_logo
						img.img-responsive(src="images/footer_logo.png", alt="Cappero")
				.col-xs-12.col-sm-6.col-md-8
					.footer_companyinfo
						p 訂位專線
						a(href="tel:+886423011310") 04 2301 1310
						p.hidden-xs 營業時段：11:30 - 14:00、17:30 - 21:00
						p.visible-xs 營業時段
							br
							|11:30 - 14:00、17:30 - 21:00
						p 402 台中市西區模範街34巷12號
				.col-xs-12.col-sm-3.col-md-2

	p.copyright.text-center
		| Copyrights &copy; 2018 Cappero all right reserved Co., 網頁設計：
		a.web_author(href='https://yaii.com.tw/', target='_blank', rel='nofollow') 雅藝設計
	
#gotop
		
script(type='text/javascript', src='js/vendors.js')
script(type='text/javascript', src='js/style.js')