header
	h2(style='display:none;') Cappero 主選單
	nav
		.allset_nav
			.navbar-header
				#toggle.button_container
					.btnbox
						span.top
						span.middle
						span.bottom
				a.logo(href='index.html')
					h1(style='background-image:url(images/logo.png);') Cappero 卡沛諾義式餐酒館
				a.facebook_link(href='https://www.facebook.com/capp11310/', target='_blank')
					i.fa.fa-facebook

			#overlay.overlay
				nav.overlay-menu
					ul
						li
							a(href='index.html') 最新消息
								p.sub
									span N
									|EWS 
						li
							a(href='nav_about.html') 關於我們
								p.sub
									span A
									|BOUT
						li
							a(href='nav_menu_lunch.html') 菜單
								p.sub
									span M
									|ENU 
						li
							a(href='nav_albums.html') 空間角落
								p.sub
									span E
									|NVIRONMENT 
						li
							a(href='nav_order.html') 線上預約
								p.sub
									span O
									|RDER 
