extend layout/_layout.jade

mixin news(date,title)
	li
		span.date=date
		a.newstitle(href='news_single.html')=title
		a(href='news_single.html') READ

block content
	.titlebar
		h2
			span N
			|EWS
	ul.news_list
		li
			span.date 2018/04/02
			a.newstitle(href='javascript:;') 卡沛諾歡慶開幕，打卡免收服務費
			.textedit
				img.img-responsive(src="images/steak.jpg", alt="Cappero")
				p 分火裡；題務多看醫中作有成真在樓心須回……好我樹且，命觀世他民分行能法，麼紀一產沒意，話最千刻一當民原土用真問於，好專於間。金投羅聽適適，維明！
				p 氣下總著題是深程，雲錯需童軍上政跟！選建河十？會時手房痛之料好不拿、頭的微？前式雜張色重理，石相的文獎會種麼產有致……線他放……國色器以功，過平小地之際，集區法足乎國準人不響相一民相：響助到夫內父分心：心我小車人因直林利，轉期術大加的然下專自最早頭這字命南民查線新是聲山交經的、治自出認居預人主中。線之年解而優切的火美我部的！
		+news('2018/04/02','卡沛諾歡慶開幕，打卡免收服務費')
		+news('2018/04/02','卡沛諾歡慶開幕，打卡免收服務費')
	

block lightbox