extend layout/_layout.jade

block content
	.titlebar
		h2
			span A
			|BOUT
	.about_info
		img.img-responsive(src="images/about.jpg", alt="Cappero")
		p 在過去的二十年裹，我一直在香港香格里拉酒店的高級義大利餐廳工作，在這段時間裏，使我變得認真專業，自信及專注。近年我想到安逸的生活不能長久 不可沉醉，只有跳出舒適區域 "comfort zone"，勇敢的挑戰自我，勇闖未來， 將來的日子才會更有意義。 「勇闖未來」 這四個字，在過去的幾年一直在我 的思想裹盤旋。 
		p 從進入廚房工作一直到現在，遇見很多各有所長的外國廚師。由早期的法國大廚到近十年的義大利名廚，透過參與不同的工作岡位處理過很多不同的外國食 材，長期的觀摩與交流磨練一身專業的烹調技巧。從法國料理的技術和方法， 義大利食材和傳統菜式，到現代流行的低溫烹調 "Sous Vide"，分子料理 "Molecluar Gastronomy"及炭火燒烤等。 
		p 我和太太用了很多時間思考哪裡才是我們一家人的未來? 香港在租金薪資和物價上高於創業上正常能控制成本的範圍。 我也在澳洲的飯店工作過，那裡都好不 了很多，生活指數也很高。
		p 就在三年前的夏天，我們一家到宜蘭旅遊，深深改變了我們的想法，台灣的風水人情、好山好水，歷史建築和食物農產品都很好，就在那一刻我們被它深深吸引! 在台灣，大多數人都親切友善，樂於助人，風景美麗，自然資源豐富。 這就是我們一直想追求的生活環境。 
		p 一年過後，我們又再度來到台中旅遊，發現中部天氣很好，整齊的城市在一個大平原上背山面海。 再深入了解時，我發現台灣本土也有很多在地的農產品，宜蘭的櫻桃鴨，屏東放養的土雞，嘉義的自然豬等等。 同時也留意到台中也有多間國際知名的大飯店即將進駐，相信未來一定會有很好的發展空間和潛力。 因此，我認為也許有機會，在台中的發展我的西餐文化事業，所以選擇在台中市居住及開店。相信可以利用台灣在地的食材，簡單的調味以及新鮮的食材，製作屬於自己獨特的菜色，讓每個客人在品嚐時都能有新的體驗及發現。 在台灣我能找到實現夢想的機會、展現技術的舞台，創造一個更有意義的未來。 最後與大家分享一句話： 
		p "不要在安穩的日子裹沉醉，勇敢的挑戰自我，未來就會更有意義。"
	
block lightbox