extend layout/_layout.jade

block content
	.titlebar
		h2
			span 4
			|04
	
	.textedit
		p.grey.text-center HELLO~
		p.grey.text-center 您拜訪的頁面不存在
		p.grey.text-center 我們將在3秒後轉回卡沛諾首頁
	

block lightbox